body{
    font-family: 'Lato', sans-serif;
    background-color: white;
}

.container{
   width: 1540px;
    margin: auto;
   background-color: #128c7e;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    padding: 10px 0px;
}
.header_logo{
    margin-left: 200px;
    margin-top: 28px;
    margin-bottom: 28px
}

.header_nav{
    width: 250px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.header_nav a{
    text-decoration: none;
    margin: 25px;
    color: rgb(234, 239, 241); 
    font-size: 15px;
    padding: 10px 15px;
    display: inline;
      
}
.xy{
    margin-top: 5px;
    margin-right: 200px;
    margin-top: 40px;
    margin-bottom: 40px
}


.xy a{
    text-decoration: none;
    margin: 20px;
    margin-right: 10px;
    color: rgb(234, 239, 241); 
    font-size: 15px;
    padding: 10px 15px;
    display: inline; 
}

.container_1{
    width: 900px;
    margin: auto;
   background-color: white;
   display: inline;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.title{
  margin: 0;
  padding: 15px 0px 10px 10px;
}
.title_one {
width: 20%;
padding: 250px;
font-size: 50px;
margin-right: 25px;
padding-top: 200px;
}

.abc{
    padding-top: 100px;
}
.tittle_one h2{
    font-size: 30px;
    width: 40%;
    margin: auto;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
} 


.tittle_one p{
    font-size: 20px;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    
}

.tittle_one h5{
    font-size: 15px;
    width: 40%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.473);
}

.tittle_one a{
    font-size: 15px;
    width: 40%;
    margin-left: 310px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #1CB39B;
}
.tittle_two {
    width: 25%;
    margin-right: auto;
}
.tittle_two img {
    width: 90% ;
    margin: auto;
    padding: 0px 1000px 50px 0px;
}
.anchor{
    font-weight: 5000px;

}
.anchor :hover{
    text-decoration: underline;
}
.support_b{
    margin-bottom: 500px;
    width: 47%;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.support_box{
    padding: 0px 100px;
    font-size: 18px;
    background-color: #d8e8ea;
    color: rgb(17, 17, 17);
    margin-top: 30px;
    padding-top: 50px;
}
.support_box p{
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}
.support_box a{
    text-decoration: none;
    color: #64a7fa;
}
.support_box a:hover{
    text-decoration: underline;
}
.support h4{
    margin-right: 50px;
}
.support img{
    width: 400px;
    margin: auto;
    margin-top: 100px;
}
.spc_1 img{
    padding-bottom: 1%;
}
.spc_1{
      background-color: rgb(234, 245, 230);
      font-size: 160%;
      margin-top: 4%;
}
.end{
    color: rgb(82, 82, 82);
    font-size: 15px;
    padding-top: 30px;
}
.spc_1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    padding: 0px 90px 110px 90px;
}
.b_t{
    border: solid;
    border-radius: 80px;
    border-color: #7addce;
    color: #128c7e;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
    border-width: 2px;
    margin-top: 50px;
    margin-left: 45%;
}
.container_2{
    width: 1500px;
    margin-left: 25px;
}
.footer{
    display: inline-flex;
    
}
.foot_1{
    display: block;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    color: white;
    background-color: #273443;
    padding-right: 10%;
    margin-top: 10%;
}

.foot_1 a{
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 4px;
    font-size: 20px;
    padding-bottom: 8%;
}
.foot_1 a:hover{
    text-decoration: underline;
}
.last{
    background-color: rgb(32, 31, 31);
    color: white;
    margin-top: 0%;
    padding: 6px;
    width: 95%;
    display: inline-flex;
}
.last h4{
    padding-left: 2%;
    font-size: 20px;
}
.last p{
    font-size: 20px;
    padding-left: 60%;
    padding-top: 2px;
}